@use "../base/variables" as *;
header {
  margin: 8px 0;
}
.logo img {
  display: block;
}
.header__in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 24px;
  padding: 28px 36px;
}
.navigation,
.logo {
  z-index: 5;
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: clamp(6px, 1vw, 20px);
}
.navigation__burger {
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: $color-green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  display: none;
  &.active {
    .navigation__burger__line:nth-child(2) {
      display: none;
    }
    .navigation__burger__line:nth-child(1) {
      transform: rotate(45deg) translate(1.5px, 1px);
    }
    .navigation__burger__line:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
.navigation__burger__line {
  transition: all 0.3s ease;
  width: 18px;
  height: 2px;
  background-color: $color-white;
  border-radius: 2px;
  display: block;
}
.navigation__burger__line:nth-child(2) {
  margin: 3px 0;
}
.navigation__list__item__link {
  padding: 8px 16px;
  border-radius: 40px;
}
.navigation__list__item__link:hover {
  color: $color-white;
  background-color: $color-green;
  transition: all 0.3s ease;
}
.mobile_navigation__list {
  width: 100%;
  background-color: $color-light-gray;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 68px;
  height: 100%;
  text-align: right;
  display: none;
  z-index: 3;
  li {
    margin: 10px 0;
  }
  .navigation__list__item__link:hover {
    color: $color-green;
    background-color: transparent;
    transition: transform 1s ease;
  }

  &.active {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header__in {
    background-color: transparent;
    padding: 16px 0px;
  }
  .navigation__list {
    display: none;
  }
  .navigation__burger {
    display: flex;
  }
}
