// background video for hero__in

@use "../base/variables" as *;
.hero__in {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 461px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 24px;
  //   padding: clamp(24px, 3vw, 68px);
  padding: 68px;
  * {
    color: $color-white;
  }
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* отправляем назад */
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__in__left-box {
  .body-text {
    margin: 32px 0;
  }
}
.hero__in__button {
  width: 327px;
  height: 52.000003814697266;
  color: $color-white !important;
  opacity: 1;
  gap: 16px;
  display: flex;
  border-radius: 40px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  background-color: $color-green;
  img {
    color: $color-white;
    display: block;
  }
}
.hero__in__right-box {
  text-align: right;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .hero__in {
    height: 353px;
    padding: 48px;
  }
  .hero__in__button {
    width: 302px;
  }
}
@media only screen and (max-width: 640px) {
  .hero__in {
    height: 311px;
    padding: 24px;
  }
}
@media only screen and (max-width: 540px) {
  .hero__in {
    height: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    * {
      color: $color-gray;
    }
  }
  .background-video {
    position: relative;
    border-radius: 24px;
    width: 100%;
    height: 197px;
  }
  .hero__in__left-box,
  .hero__in__right-box {
    width: 100%;
    text-align: left;
  }
  .hero__in__left-box h1 {
    position: absolute;
    top: 8%;
    left: 5%;
    color: $color-white;
  }
  .hero__in__right-box {
    padding-top: 24px;
    text-align: left;
    .note br {
      display: none;
    }
  }

  .hero__in__left-box {
    .body-text {
      margin: 24px 0;
    }
  }
}
@media only screen and (max-width: 480px) {
  .hero__in {
    padding: 0;
  }
  .hero__in__left-box h1 {
    margin-top: 24px;
    position: static;
    color: $color-gray;
  }
}
@media only screen and (max-width: 320px) {
  .hero__in__button {
    width: 100%;
    img {
      width: 32px;
    }
  }
  .hero__in__right-box {
    text-align: center;
  }
}
