$color-green: #1f8b48; // Основной фирменный зелёный
$color-black: #131312; // Заголовки, текст
$color-white: #ffffff; // Белый фон
$color-light-gray: #f6f6f6; // Светлый фон, background
$color-accent: #00a057; // Яркий зелёный (иконки, кнопки)
$color-gray: #2e2d2b; // Серый цвет для текста
